[submodule "lib/easy-ecc"]
	path = lib/easy-ecc
	url = https://github.com/jestan/easy-ecc.git
[submodule "lib/hash-library"]
	path = lib/hash-library
	url = https://github.com/stbrumme/hash-library.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
